
.rider-review {
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

.review-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.review-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 50px;
}

.slider-arrows {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.slider-arrow {
    cursor: pointer;
    font-size: 1.5rem;
    color: #555;
}

.review-slider {
    overflow: hidden;
}

.review-cards {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
}

.review-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(100% / 3);
    height: 200px;
    margin: 0 10px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.stars {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.star {
    color: #ddd;
}

.star.filled {
    color: gold;
}

.customer {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.description {
    color: #555;
    font-size: 1rem;
}

.review-slider.right .review-cards {
    transform: translateX(calc(-100%));
}

.review-slider.left .review-cards {
    transform: translateX(calc(100%)); 
}


