.bike-grid-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 100px;
}

.each-bike-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 100px;
}

.each-bike-item {
  display: flex;
  justify-content: center;
  background-color: #F4F4F4;
}

.each-bike-card {
  width: 100%; 
  max-width: 220px; 
  padding: 20px;
  text-align: center;
}

.each-bike-image {
  width: 100%;
  height: auto;
}

.each-bike-title {
  margin-top: 10px;
  font-size: 1em;
}
