.produt-arrival-container {
    margin-top: 50px;
}

.produt-arrival-container1 {
    margin-top: -70px;
}

.p-title {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;   
}

.p-title p {
    font-size: 18px;
    font-weight: 500;
    color: #C40505;
    text-align: left;
    margin-left: 78px;
    line-height: 24px;
    margin-bottom: 15px;
}

.p-title h1 {
    font-size: 48px;
    text-align: left;
    margin-left: 74px;
    font-weight: 700;
    line-height: 24px;
}

.new-arrival-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.static-image-container {
    flex: 1;
    margin-right: 20px;
    margin-left: 80px;
}

.static-image {
    width: 282px;
    height: 508px;
}


.product-cards-container {
    display: flex;
    flex: 2;
    gap: 25px;
    width: 70%;
    margin-right: 125px;
}


/*
* --------------------------Recently Viewed--------------------
*/

.recently-viewed-container{
    display: flex;
    gap: 25px;
    width: 100%;
    margin-left: 100px;
}
